name: "Chores"

on:
    schedule:
        - cron: "0 5 * * *"   # daily at 05:00 UTC
    workflow_dispatch:   

jobs: 
    update-flake:
        uses: KestrelsDevelopment/Workflows/.github/workflows/nix-update-flake.yml@main 
        permissions:
            contents: write
