name: "Nix CI"

on:
    push:
    pull_request: 
    workflow_dispatch:   

jobs: 
    build:
        uses: KestrelsDevelopment/.github/.github/workflows/nix-build.yml@main 
    lint:
        uses: KestrelsDevelopment/.github/.github/workflows/nix-lint.yml@main 